<div id="banner" class="text-center">
  <div class="fleur hidden-xs hidden-sm"> <%= image_tag "fleur2.png" %> </div>
    <div class ="text-banner">
     <%= image_tag 'logo_white.png', class: "logo" %>
    <h1> Design Floral</h1>
    <h2 class="h2_ban">Fleuriste Décorateur Paris Evénementiel & Entreprises</h2>
    <h3>Antony & Paris</h3>
  </div>
</div>