<div id="histoire">
    <div class="orchi hidden-xs hidden-sm"> <%= image_tag "orchidee.png" %> </div>
    <div class="text-center">
      <div class="container">

        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <h1 class="h1_hist"> Notre histoire </h1>

            <h2 class="h2_hist">« Une Histoire de Famille »</h2>
            <p class="mt30">
              Artisan Fleuriste Décorateur, Laurence Martos réunit aujourd’hui deux enseignes animées par une famille exerçant depuis 1999.
            </p>
            <h2 class="mt30">Nos implantations</h2>
            <p class="mt30">
              « Paris & Antony » <br>
              Au travers notre histoire & courbe d’expérience, nos implantations initialement situées à Arcueil (94) et Boulogne (92) ont laissé place au cours de l’année 2008 à deux enseignes situées sur Paris sud de manière à optimiser la proximité avec le marché international de Rungis offrant ainsi, à nos clients & partenaires, une véritable solution en matière de qualité & réactivité.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>