<div id="interieur">
  <div class="gradientbox"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2 col-xs-12">
        <%= image_tag 'logo_black.png', class: "logo_noussituer" %>
        <h3>1 Rue Velpeau, 92160 Antony</h3>
        <h4> Nous vous accueillons du lundi au samedi de 10h à 20h.</h4>
        <h4> Et le dimanche de 10h à 19h</h4>
        <h4>01 46 66 75 06</h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-6 col-xs-12 black">
        En collaboration avec des professionnels de l’Hôtellerie, de la coiffure, du prêt à porter et de la restauration, nos formules d’abonnement sur mesure s’adaptent à votre espace et à votre budget.
      </div>
    </div>
  </div>
</div>