<div id="savoir">
  <div class="wow">
    <div class="container">
      <div class="row mt60">
        <div class="col-md-4 col-xs-12">
          <%= image_tag 'savoir1.jpg', class: "photo_carree wow slideInLeft" %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= image_tag 'savoir2.jpg', class: "photo_carree wow zoomIn" %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= image_tag 'savoir3.jpg', class: "photo_carree wow slideInRight" %>
        </div>
      </div>
      <div class="row text-center pt30 pb30">
        <h3 class="grey">Suivez notre actu sur <a href="https://www.facebook.com/fleursdantony">facebook</a></h3>
      </div>
    </div>
  </div>
</div>
